a {text-decoration : none }

td {
	border : 1px solid black;
	padding:5px;
	text-align:center;
}

th {
	border : 1px solid black;
	padding:5px;
	background : #f5ac0e;
	color : white;
	text-align:center;
}

#button1 {
	font-size:2.0em;
	background: white;
	background: -moz-linear-gradient(top, red 0%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,white));
	background: -webkit-linear-gradient(top, red 0%, white 100%);
	background: -o-linear-gradient(top, red 0%, white 100%);
	background: -ms-linear-gradient(top, red 0%, white 100%);
	background: linear-gradient(top, red 0%, white 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='red', endColorstr='white',GradientType=0 );
	font-weight:bold;
	text-align:center;
	padding:20px;
	margin:5px;
	border-radius:5px;
	cursor:pointer;
	font-family:calibri;
	width : 300px;
}

#input2{
	font-size:0.8em;
	background: white;
	background: -moz-linear-gradient(top, #f5ac0e 0%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5ac0e), color-stop(100%,#f5ac0e));
	background: -webkit-linear-gradient(top, #f5ac0e 0%, white 100%);
	background: -o-linear-gradient(top, #f5ac0e 0%, white 100%);
	background: -ms-linear-gradient(top, #f5ac0e 0%, white 100%);
	background: linear-gradient(top, #f5ac0e 0%, white 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ac0e', endColorstr='white',GradientType=0 );
	font-weight:bold;
	text-align:center;
	padding:10px;
	margin:5px;
	border-radius:5px;
	cursor:pointer;
	font-family:calibri;
	width : 50px;
}

#input1{
	font-size:0.8em;
	background: white;
	background: -moz-linear-gradient(top, red 0%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,white));
	background: -webkit-linear-gradient(top, red 0%, white 100%);
	background: -o-linear-gradient(top, red 0%, white 100%);
	background: -ms-linear-gradient(top, red 0%, white 100%);
	background: linear-gradient(top, red 0%, white 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='red', endColorstr='white',GradientType=0 );
	font-weight:bold;
	text-align:center;
	padding:10px;
	margin:5px;
	border-radius:5px;
	cursor:pointer;
	font-family:calibri;
	width : 60px;
}